:root {
  --color-white: #fffcf6;
  --color-key: #fadac6;
  --color-point: #ed906e;

  --shadow-bright: #f6eeeb;
  --shadow-deep: #969189;

  --color-text: #2a2523;

  /* Typography */
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 30px;

  /* PaginationBar */
  --pagination-nav-bg: #fadac6;
  --pagination-nav-border: var(--color-text);
  --pagination-nav-fg: var(--color-text);
  --pagination-page-muted: var(--shadow-deep);
}